<!DOCTYPE html>
<html>
<head>
    <title>Attendance Report</title>
</head>
<body>
    <h1>Attendance Report</h1>
    <table>
        <tr>
            <th>Student Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        {% for attendance in attendance_data %}
        <tr>
            <td>{{ attendance.student.name }}</td>
            <td>{{ attendance.date }}</td>
            <td>{{ attendance.status }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
